Body {
  background-color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;

}

section {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  background-color: rgb(224, 232, 240);
  margin: 50px auto;
}

img {
  width: 250px;
}

div {
  width: max-content;
}

/* test {
  color: rgb(36, 185, 36);
  color: rgb(110, 108, 108);
} */
